*.pyc
data/
__pycache__/
checkpoints/
checkpoints1/
checkpoints2/
checkpoints4/
checkpoints5/
checkpoints6/
checkpoints7/
checkpoints8/
checkpoints9/
checkpoints10/
checkpoints11/
checkpoints12/
checkpoints13/
checkpoints14/
checkpoints15/
checkpoints16/
checkpoints18/
checkpoints19/
checkpoints20/
checkpoints21/
checkpoints22/
checkpoints23/
*.pth
*.jpg
venv/
.idea/
.ipynb_checkpoints
wandb
test/
overlap_train
overlap_ori